<!DOCTYPE html>
<html>
  <head>
    <title>Baskin Robbin's</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'</link>

  </head>
  <body>

    <nav class="pink">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="https://www.baskinrobbins.com/content/baskinrobbins/en/aboutus.html">About Us</a></li>
        <li><a href="https://www.baskinrobbins.com/content/baskinrobbins/en/contactus.html">Contact Us</a></li>
      </ul>
    </div>
  </nav>
<img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Baskin_Robbins_logo_2013.png"
<br><br>
    <h1> WELCOME TO THE BASKIN ROBBIN'S WEBSITE!</h1>
      <h2>Hope you enjoy!</h2>

  </body>

</html>
